@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Rubik+Doodle+Shadow&family=Rubik+Maps&display=swap');


:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #090909;
    --color-base2: #020202;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Jacques Francois Shadow";
    --font-base2: "Bai Jamjuree"
}

body {
    background-color: #020202;
    border: 2px solid transparent;
    padding: 32px 24px;
    color: rgb(248, 240, 240);
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}




h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    font-weight: 700;
    /* transform: skewX(10deg);
    transition: all 0.3s; */
}

a {
    /* color: var(--color-body); */
    transition: all 0.4s ease;
    text-decoration: none;
    color: beige;
}

a:hover {
    color: var(--color-brand);
    /* text-shadow: 0px -1px 15px rgba(141, 126, 126, 0.81); */


}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.shadow-effect {
    transition: all 0.3s;
    background-color: black;
    /* transform: skew(10deg); */

    transform: scale(0.95);
}

.shadow-effect:hover {
    box-shadow: 0px 0px 30px 1px rgba(237, 241, 239, 0.3);
    /* box-shadow: 0px 0px 10px 2px rgb(13, 110, 253); */
    /* transform: skewX(10deg); */
}

.service {
    /* border-radius: 22px; */
    /* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); */
    border-radius: 20px;
    transition: all .3s;
    background-color: rgb(11, 11, 11);
}

/* .backgroundimg {
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    background: url(https://s3-alpha-sig.figma.com/img/20dc/f20f/6b7a2eced6e9657881178d81cff12b47?Expires=1705881600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jMSCyGvJXQ8kVwA~hpDrMjUyA~cY1CNxOlvZS0F5yu-YmhyoWPFa77qoFzcwipkR7Cpfvoc-IaUv5Rsxybct9lVKR7YYrhmGXcWkQgYKr0Hj3FOA4ebc4~PCX-srr~raJCOwAMlhWtKPdGRmXma-~EVBvouPqzGBiL2aX4NiRgUrvzDFqn6egr1WH-C1VB0An6YiUFeISPrzI0ZTt39yz1Tt1YKZr~sxKd1ciESAZhlb~zMBXfrjellFBTao0sCBWxRlzYt0Z1WDiiz1uRAfkbG6Iro85s1OVgq-qRgXRraIJ~oNXtRnQMRA3sNDCAi3B~lCVXxfnbVHqPARkjoErA__);
     lightgray 50% 
     background-size: cover ;
     background-r
     no-repeat, #212529;
} */

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
    border-radius: 22px;
    /* box-shadow: inset -12px -8px 40px #d30e0e20; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}


/* NAVBAR */
.navbar {
    border-radius: 3px;
    box-shadow: inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5), inset 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 12px;
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #0beba8;
    /* background-color: #03bcf4; */
    transition: all 0.3s;


}

.nav-link {
    gap: 20px;
}


.navbar .nav-link :hover {
    color: var(--color-brand);
}

.navbar .nav-link .active {
    color: #c9f909;
}

@media(min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url();
        background-size: cover;
        background-position: center;
        background-color: #03bcf4;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* Content wrapper */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }


}

/* btn */
.btn {
    padding: 12px 28px;
    font-weight: 700px;

    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;

    /* -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4)); */

}

/* .btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
} */

.btn-brand:hover,
.btn-brand:focus {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

.btn:active {
    scale: 0.92;
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* card custom */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
    /* width: 300px; */
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
    /* box-shadow: 0px 0px 10px 2px rgb(13, 110, 253); */

}

.card-custom {
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rounded-4 {
    border-radius: 22px;
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);

}

#contact .form-control:focus {
    border-color: var(--color-brand);
    border-color: none;
    /* background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, */
    /* #0000ff, #00ff00, #ffff00, #ff0000); */
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input .form-control {
    height: 44px;

}


/*  social icon */



.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-base); */
    border-radius: 100px;
    text-decoration: none;

}

.social-links {
    border-radius: 100px;
    font-size: 30px;
    /* color: yellow; */
}


#glow {
    text-shadow: 4px 4px 2px rgba(244, 243, 240, 0.6);
    /* font-family: 'Akronim', system-ui; */
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 60px;
    color: #f8f7f1;
}





#glow:hover {

    animation-name: color-change;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all ease-out 0.4s;
    /* font-family: 'Rubik Maps', system-ui; */
    /* font-family: 'Rubik Doodle Shadow', system-ui; */
}

@keyframes color-change {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #f2f6f7;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4, 0 0 10px #03bcf4, 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
    }
}


#panda {
    color: white;
    font: 700 normal 2.5em 'tahoma';
}

#panda:hover {
    /* font-family: 'Rubik Doodle Shadow', system-ui; */
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #eff3f7, 3px 5px #222324;
    animation-name: transformer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transition: all 0.4s;
}

@keyframes transformer {

    0%,
    22%,
    36%,
    75% {
        color: #f7f4f7;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #05bccd,
            -0.2rem 0.1rem 1rem #06fdf9, 0.2rem 0.1rem 1rem #0be7b8,
            0 -0.5rem 2rem #0be3f7, 0 0.5rem 3rem #04c5fa;
    }

    28%,
    33% {
        color: #fffafa;
        text-shadow: none;
    }

    82%,
    97% {
        color: #f9f6f6;
        text-shadow: none;
    }
}